apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- gotk-components.yaml
- gotk-sync.yaml
patches:
- target:
    kind: ClusterRole
    name: crd-controller-flux-system
  path: crd-controller-flux-system-restricted-role.yaml
