apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- gotk-components.yaml
- gotk-sync.yaml
patches:
  - target:
      kind: ServiceAccount
      name: notification-controller
      namespace: flux-system
    patch: |-
